#orderId{
    font-weight: bold;
}

.products{
    display: flex;
    justify-content: center;
}


.products h2{
    text-align: center;
    margin-bottom: 20px;
}

.products p{
    text-align: center;
    margin-bottom: 10px;
}




@media screen and (min-width: 768px) {
    
    .products{
        font-size: 1.5em;
    }
    
.products h2{
    margin-top: 50px;
}

}

@media screen and (min-width: 992px) {

}