:root{
    --main-color: #e9a003;
    --secondary-color: #2c3e50;
    --secondary-color-lighter:rgb(66, 88, 110)0;
    --text-color: #3d4c68;
    --footer-text-color: #a6b0b3;
    --footer-main-color: #3d424f;
    --footer-secondary-color: #2d2f3e;
    --font-main : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    margin-bottom: -10px;;
}

#header_infos{
    background-color: var(--main-color);
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;;
}

#header_infos div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#header_infos img{
    height: 20px;
    margin-right: 10px;
}

#header_bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#header_bar img{
    height: 110px;
}
#header_bar nav{
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5em;
}
nav a:hover{
    font-weight: bold;
}

#banniere{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

#titles{
    text-align: center
}

#titles h1{
    font-size: 3em;
    font-weight: bold;
}

#titles p{
    font-size: 2em;
    margin-bottom: 75px;
}

footer{
    height: 300px;
    color: var(--footer-text-color);
}

#footer_infos{
    background-color: var(--footer-main-color);
    padding:30px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

#footer_infos img{
    height:100px;
}

#footer_infos div{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#footer_copyright{
    height: 100px;
    background-color: var(--footer-secondary-color);
    
    display: flex;
    align-items: center;
}
#footer_copyright p{
    text-align: center;
    padding: 0 20px;
}

.products{
    width: 100%;
    background-color: var(--main-color);
    color: whitesmoke;
    min-height: 400px;
    padding : 85px 20px 50px 20px;
}



#products-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#products-list a {
    width: 85%;
    margin: 30px;
    cursor: pointer;
}

#products-list article {
    padding: 20px ;
    height: 350px;
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--footer-secondary-color) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke; 
}

#products-list article:hover {
    background: var(--secondary-color-lighter);   
}

#products-list article img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
#products-list article h2{
    font-size: 1.2em;
    margin-bottom: 10px;
}
#products-list article p{
    font-size: 0.8em;   
    text-overflow: ellipsis;
    overflow: hidden;
}


#products-list article .price{
    font-weight: bold;
    font-size: 2em;
}

.colorBlocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 10px;
    border: whitesmoke 2px solid;
}
.Blue{
    background-color: blue;
}
.White{
    background-color: white;
}
.Black{
    background-color: black;
}
.Red{
    background-color: red;
}
.Grey{
    background-color: grey;
}
.Pink{
    background-color: pink;
}
.Green{
    background-color: green;
}
.Silver{
    background-color: silver;
}
.Brown{
    background-color: brown;
}
.Yellow{
    background-color: yellow;
}
.Navy{
    background-color: navy;
}
.Purple{
    background-color: purple;
}
.Black-Yellow{
    background: linear-gradient(135deg, rgb(0, 0, 0) 50%, rgb(255, 208, 0) 50%);
}.Black-Red{
    background: linear-gradient(135deg, rgb(0, 0, 0) 50%, rgb(255, 0, 0) 50%);
}

a{
    text-decoration: none;
}



@media screen  and (min-width: 768px){
    
    #logo{
        height: 150px;
    }
    #logo img{
        height: 150px;
    }
    

    #products-list a {
        width: 40%;
    }




}



@media screen  and (min-width: 992px){
    
    
    #logo{
        height: 130px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    #header_infos{
        background-color: var(--main-color);
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #header_infos div{
        width: auto;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 50px;
        color: whitesmoke;
    }

    #header_infos img{
        height: 20px;
        margin-right: 10px;
    }

    #header_bar{
        height: 130px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    #header_bar img{
        height: 130px;
        margin-left: 100px;
    }
    
    #logo{
        width: 110px;
        display: flex;
        justify-content: center;
    }
    #header_bar nav{
        height: 130px;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    #titles h1{
        font-size: 3.5em;
        font-weight: bold;
    }

    footer{
        width: 100%;
        height: 300px;
        color: var(--footer-text-color);
    }

    #footer_infos{
        background-color: var(--footer-main-color);
        padding:50px 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        
    }

    #footer_infos img{
        height:100px;
    }

    #footer_infos div{
        margin: 20px;
        width: auto;
    }

    #footer_copyright{
        height: 100px;
        background-color: var(--footer-secondary-color);
        
        display: flex;
        align-items: center;
    }
    #footer_copyright p{
        padding: 0 20px;
    }
    
    #products-list a {
        width: 20%;
        margin: 20px 20px 50px 20px;
    }

}